<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>User: <%= message.username %>
  </p>
  <p>Added date: <%= new Date(message.timestamp).toLocaleString() %>
  </p>
  <p>Message: <%= message.message %>
  </p>
</body>

</html>